:root{
    --color-blue:#0A3871;
    --color-celeste: #F3F5FC;
    --color-gray: #495057;
    --color-gris: #D8DFE8;

    --color--background:var(--color-celeste)
}
body{
    background: var(--color--background);
    font-family: 'Inter', sans-serif;
}
textarea{
    font-family: 'Inter', sans-serif;
}
/*Header*/
/*.header{
}*/
.header{
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 5em;
}
.header__logo{
    margin-top: 40px;  
    border: var(--border-items); 
}
.main{
    margin: auto 40px auto auto;
    width: 90%;
    align-items: end;
    min-height: calc(100vh - 80px - 56px);
    display: grid;
    padding: 1rem;
    grid-template-columns: 2.5fr 1fr;
    gap: 1rem;
}
/*Left*/
.left{
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ingreso__texto{
    width: 80%;
    font-size: 32px;
    color: var(--color-blue);
    resize: none;
    background: none;
    border: none;
    outline: none;
}
.ingreso__texto::placeholder{
    color: var(--color-blue);
}
/*.left__footer{
}*/
.left__info{
    font-size: 12px;
    color: var(--color-gray);
}
.left__botones{
    display: flex;
    gap: 24px;
    margin-top: 16px;
    flex-wrap: wrap;
}
.boton__encriptar,
.boton__desencriptar,
.boton__copiar{
    border: 1px solid var(--color-blue);
    cursor: pointer;
    max-width: 328px;
    min-width: 160px;
    width: 45%;
    height: 67px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
    border: none;
    outline: 1px solid var(--color-blue);
    background: var(--color-blue);
    color: white;
}
.boton__encriptar{
    background-color: var(--color-blue);
    color: white;
}
.boton__desencriptar{
    background-color:var(--color-gris);
    color: var(--color-blue);
}
.boton__copiar{
    background: none;
    width: 100%;
    color: var(--color-blue);
    min-width: 100px;
}
.right{
    background: white;
    align-items: center;
    width: 100%;
    height: calc(100% + 60px);
    border-radius: 32px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.right.ajustar{
    justify-content: space-between;
}
.munheco{
    width: 100%;
}
.oculto{
    display: none;
}
.mensaje__final{
    width: 100%;
    font-size: 24px;
    color: var(--color-gray);
    border: none;
    outline: none;
    text-align: center;
    overflow: hidden;
    resize: none;
    pointer-events: none;
    font-family: 'Space Mono', monospace;
}
.mensaje__final.ajustar{
    text-align: left;
    font-weight: lighter;
    height: 80%;
}
.right__info{
    color: var(--color-gray);
    font-size: 16px;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: 75% auto;
        width: auto;
        margin: auto 40px;
    }
    .left__botones{
        justify-content: center;
    }
    .boton__encriptar,
    .boton__desencriptar{
        width: 45%;
    }
    .right{
        height: 100%;
    }
    .muñeco{
        display: none;
    }
}
@media screen and(max-width:500px) {
    .main{
        margin: 16px;
    }
    .boton__encriptar,
    .boton__desencriptar{
        max-width: 100%;
        width: 100%;
    }  
}


